{% extends "base.html" %}

{% block title %}Edit post{% endblock %}

{% block content %}
    <h1 class="text-center display-4">Edit post</h1>
    <hr>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows=5) }}
        </div>
        <hr>
        <div class="mb-3">
            <div class="btn-group" role="group">
                <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to posts</a>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
{% endblock %}
