{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <h1 class="text-center display-4">Sign up</h1>
    <hr>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Sign in</a></p>
{% endblock %}
